* {
  font-family: 'Gothic A1', sans-serif;


}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #111111;
  height: 12vh;
  width: 100vw;
  font: black
}

.main {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.Logo {
  width: 200px;
  height: 200px;
  margin-left: 50px;
}

.cattleMain {
  height: 80vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: contain;
}

.mobileNav {
  
}

.deskTopNav {
  width:60vw;
  display: flex;
  justify-content: flex-end;
  margin-right: 75px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.hamburgerMenu {
  height: 25px;
  width: 25px;
  display: flex;
  align-self: right;
  margin-right: 20px;
}

@media (min-width: 992px) {
  .mobileNav {
    display: none;
  }
  .hamburgerMenu {
    display: none;
  }
}

@media (max-width: 992px) {
  .deskTopNav {
    display: none;
  }
}

.mainNavButton {
  background-color: #111111;
  color: #FFFFFF;
  transition-duration: 0.4s;
  font-family: 'Gothic A1', sans-serif;
  text-transform: uppercase;
  width: 90px;
  height: 45px;
  margin-left: 25px;
  margin-right: 25px;
  border: none;
  box-shadow: none;
  font-size: 14px;
  font-weight: 900;
}

.mainNavButton:focus {
  background-color: #9a0606;
  color: #FFFFFF;
  outline: none;
}

.loginMain {
  width: 90vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: 'Gothic A1', sans-serif;
  margin-left: 65px;
}

.input {
  border: 2px solid #9a0606;
  background-color: #E5E5E5;
  /* margin: 5px; */
  width: 275px;
  height: 50px;
}

.billingInput {
  width: 500px;

}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Gothic A1', sans-serif;
}

.pass {
  margin-bottom: 20px;
}

.or {
  margin-top: 45px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Gothic A1', sans-serif;
}

.formContainer {
  width: 35vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Gothic A1', sans-serif;
}

@media (max-width: 992px) {
  .loginMain {
    display: flex;
    flex-direction: column;
    height: 825px;
  }

  .or {
    font-family: 'Gothic A1', sans-serif;
  }

  .formContainer {
    justify-content: initial;
    height: 35vh;
    margin: 15px
  }

  .billingInput {
    width: 300px
  }

  .footer {
    position: fixed;
  }
}

.mobileNav {
  
}

.footer {
  height: 10vh;
  width: 100vw;
  background-color: #9a0606;
}


.itemImage {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: -20px
}

.imageBlocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin-left: 70px;
}

.item {
  width: 250px;
  height: 350px;
  margin: 20px;
  outline: #E2C765 solid 2px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.itemButtons {
  display: flex;
  flex-direction: row;
}

.plusMinus {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-left: 5px;
}


.cart {
  width: 95vw;
  height: 80vh;
}

.cartItems {
  display: flex;
  flex-wrap: wrap;
}

.wizard {
  height: 100vh;
  width: 100 vw;
  background-color: #E5E5E5 ;
}

.reviewCart {
  height: 100vh;
  width: 100 vw;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addOrRemoveButton {
  background-color: #9C0000 ;
  color: #ffffff;
  border: none;
  box-shadow: none;
  width: 160px;
  height: 45px;
  margin-top: 5px;
  font-weight: bold;
}

.checkoutButton {
  background-color: #9C0000 ;
  color: #ffffff;
  border: none;
  box-shadow: none;
  width: 100px;
  height: 45px;
  margin: 20px;
  font-weight: bold;
}

.plusMinus {
  outline: #9C0000;
  color: #9C0000;
  box-shadow: none;
  background-color: none;
  margin-top: 10px;
}

.plusMinusRow {
  display: flex;
  flex-direction: column;
  background-color: none;
  width: 30px;
  height: 50px;
  margin-top: 7px;
}

.qty {
  background-color: none;
  border: none;
  width: 40px;
  height: 30px;
  font-size: 30px;
  outline: none;
  padding-top: 10px;
  padding-bottom: -5px;
  text-align: center;
  margin-left: -8px;
  border-bottom: black solid 2px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

.cutName {
  font-family: 'Gothic A1', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.price{
  font-family: 'Gothic A1', sans-serif;
  font-weight: lighter;
  font-size: 15px;
  margin-bottom: 3px;
}

.itemLabel {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.grunge {
  height: 275px;
  width: 100vw;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shopTag {
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.shopTagSub {
  color: #FFFFFF;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 800;
  font-size: 28px;
}

.logo {
  font-family: 'Stardos Stencil', cursive;
  color: #FFFFFF;
  font-size: 19px;
  max-width: 100px;
  text-align: center;
  font-weight: lighter;
  margin-left: 75px;
}

.billingInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.checkoutButtonRow {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.checkboxInfo {
  display: flex;
  margin: 10px;
}

.checkboxDescription {
  margin-left: 5px;
  margin-bottom: -3px;
}