.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #f6f6f6;
  height: 10vh;
  width: 100vw;
}

.Logo {
  width: 200px;
  height: 200px;
}

.cattleMain {
  height: 100vh;
  width: 100vw
}

.mobileNav {
  
}

.deskTopNav {
  
}

.hamburgerMenu {
  height: 25px;
  width: 25px;
  display: flex;
  align-self: right;
}

@media (min-width: 992px) {
  .mobileNav {
    display: none;
  }
  .hamburgerMenu {
    display: none;
  }
}

@media (max-width: 992px) {
  .deskTopNav {
    display: none;
  }
}

.mainNavButton {
  background-color: #f6f6f6;
  color: black;
  border: 2px solid #9a0606;
  transition-duration: 0.4s;
  font-family: 'Allerta Stencil', sans-serif;
  width: 125px;
  height: 50px;
  margin-left: 25px;
  margin-right: 25px;
}

.mainNavButton:hover {
  background-color: #9a0606;
  color: #f6f6f6;
}

.loginMain {
  width: 100vw;
  height: 90vh;
  /* margin-top: 10vh; */
  display: flex;
  align-items: center;
  flex-direction: row;
  font-family: 'Allerta Stencil', sans-serif;
}

.input {
  border: 2px solid #9a0606;
  background-color: #f6f6f6;
  /* margin: 5px; */
  width: 275px;
  height: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Allerta Stencil', sans-serif;
}

.pass {
  margin-bottom: 20px;
}

.or {
  margin-top: 45px;
}

.footer {
  height: 10vh;
  width: 100vw;
  background-color: #9a0606;
}

.formContainer {
  width: 40vw;
  height: 90vh;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Allerta Stencil', sans-serif;
}

h3 {
  font-family: 'Allerta Stencil', sans-serif;
}

.itemImage {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.imageBlocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

.item {
  width: 200px;
  height: 200px;
  margin: 20px;
  outline: black solid 2px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.itemButtons {
  display: flex;
  flex-direction: row;
}
