.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #f6f6f6;
  height: 10vh;
  width: 100vw;
}

.Logo {
  width: 200px;
  height: 200px;
}

.cattleMain {
  height: 100vh;
  width: 100vw
}

.mobileNav {
  
}

.deskTopNav {
  
}

.hamburgerMenu {
  height: 25px;
  width: 25px;
  display: flex;
  align-self: right;
}

@media (min-width: 992px) {
  .mobileNav {
    display: none;
  }
  .hamburgerMenu {
    display: none;
  }
}

@media (max-width: 992px) {
  .deskTopNav {
    display: none;
  }
}

.mainNavButton {
  background-color: #f6f6f6;
  color: black;
  border: 2px solid #9a0606;
  transition-duration: 0.4s;
  font-family: 'Allerta Stencil', sans-serif;
  width: 125px;
  height: 50px;
  margin-left: 25px;
  margin-right: 25px;
}

.mainNavButton:hover {
  background-color: #9a0606;
  color: #f6f6f6;
}

.loginMain {
  width: 100vw;
  height: 90vh;
  margin-top: 10vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}